<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
        <meta name="keywords" content="{$keywords}" n:ifset="$keywords">

        <meta name="owner" content="Petr Ogurčák">
        <meta name="copyright" content="Petr Ogurčák; petr.ogurcak.cz">
        <meta name="author" content="Petr Ogurčák; petr.ogurcak.cz">

	<title>{$title|ucfirst} | Tapety-podlahy.cz</title>

        {block #css}
            {control css 'reset.css','jquery-ui-1.8.11.custom.css'}
            <link rel="stylesheet" type="text/css" href="{$staticUri}/css/jquery.fancybox-1.3.4.css">
            {control cssPrint 'reset.css'}
        {/block}

	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{$staticUri}/js/head.min.js"></script>
        {block #js}
        <script type="text/javascript">
            head.js("http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js",
                    "{!$staticUri}/js/netteForms.js",
                    "{!$staticUri}/js/jquery.livequery.js",
                    "{!$staticUri}/js/jquery.nette.js",
                    "{!$staticUri}/js/jquery-ui-1.8.14.custom.min.js",
                    "{!$staticUri}/js/jquery.fancybox-1.3.4.pack.js",
                    "{!$staticUri}/js/jquery.easing-1.3.pack.js",
                    "{!$staticUri}/js/jquery.mousewheel-3.0.4.pack.js",
                    "{!$staticUri}/js/jquery.tools.min.js",
                    "{!$staticUri}/js/analytics.js"
          );
	</script>
        {/block}
        {block #scripts}
        <script type="text/javascript">
            head.ready(function(){
                
                _ga.create('UA-25339634-1', '.tapety-podlahy.cz');
                _gaq.push(['_setDomainName', 'none']);
                _gaq.push(['_setAllowLinker', true]);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_trackPageLoadTime']);  
                
                {block #ga}{/block}

                $("form").livequery( function() {
                    Nette.initForm(this);
                });

                $("a.fancybox").fancybox();               

            });
        </script>
        {/block}
</head>

<body>
    {*<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>*}

    {include #layout}

</body>
</html>
