<html>
    <head>
        
    </head>
    <body>
        <p>Dobrý den,</p>
        <p>Váš požadavek na zaslání nového heslo pro přihlášení do <a href="{plink //:Front:Customer:default}">zákaznického účtu</a>
                na webu <a href="{plink //:Front:Homepage:default}">www.tapety-podlahy.cz</a> byl úspěšně vyřízen.</p>
        <p>Váš email pro přihlášení: <strong>{$email}</strong></p>
        <p>Vaše heslo pro přihlášení: <strong>{$password}</strong></p>
        <p>Přihlásit se můžete <a href="{plink //:Front:Customer:signin}">zde</a>.</p>
    </body>   
        
</html>